* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body {
    width: 100vw;
    min-height: 100vh;
}

h1 {
    border: 2px outset red;
    width: 50%;
    font-size: 3rem;
    padding: 0.3em;
}
main {
    width: 110vw;
    font-size: 2rem;
}
p {
    font-size: 2rem;
    width: 40ch;
}